@model Book.Business.DTO.CreateBookDTO
@{
    ViewData["Title"] = "Details";
}


<div>
    <h3>@Model.Name</h3>
    <p>$@Model.price</p>
    <p>@Model.AuthorName</p>
    <!-- Add to Cart Button -->
    <form asp-action="AddCart" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="@Model.Id"  />
        <input type="number" name="quantity" value="1" min="1" /> 
        <input type="submit" value="Add to Cart" />
    </form>
</div>
