<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <table align="center">

            <!-- <table style="background-color: aqua;" align="center">
            </table> -->
            <tbody>
                <tr>
                    <td>
                        <h1>Congratulation You're Registered</h1>
                    </td>

                </tr>
                <tr>
                    <td>
                        <p>HI <b>{{username}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Thank you for sharing your  interst in our web application {{username}}</p>
                        <div class="text-center">
                            Now click then login<a href="{{url}}">Login</a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
