@model IEnumerable<Book.Business.DTO.AboutUsDto>
@{
    ViewData["Title"] = "Index";
}

<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>our company</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="best-features about-features">
        <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="~/Client/assets/images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>@item.PageTitle</h4>
<p>@item.PageDescription</p>            
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    
   
             

  