@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-4">
    <h3 class="mb-4">Dashboard</h3>
    <div class="row justify-content-center">

        <!-- Categories Card -->
        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded-lg text-center border-primary">
                <div class="card-body">
                    <i class="fas fa-list text-primary fa-2x"></i>
                    <h5 class="card-title mt-2">Categories</h5>
                    <p class="card-text font-weight-bold display-6">
                        @await Component.InvokeAsync("CountCity")
                    </p>
                </div>
            </div>
        </div>

        <!-- Book Items Card -->
        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded-lg text-center border-warning">
                <div class="card-body">
                    <i class="fas fa-book text-warning fa-2x"></i>
                    <h5 class="card-title mt-2">Book Items</h5>
                    <p class="card-text font-weight-bold display-6">
                        @await Component.InvokeAsync("CountProduct")
                    </p>
                </div>
            </div>
        </div>

        <!-- Total Users Card -->
        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded-lg text-center border-info">
                <div class="card-body">
                    <i class="fas fa-users text-info fa-2x"></i>
                    <h5 class="card-title mt-2">Total Users</h5>
                    <p class="card-text font-weight-bold display-6">
                        @await Component.InvokeAsync("CountUser")
                    </p>
                </div>
            </div>
        </div>
      
        <!-- Total Book Languages Card -->
        <div class="col-md-4 mt-4">
            <div class="card shadow-lg border-0 rounded-lg text-center border-secondary">
                <div class="card-body">
                    <i class="fas fa-language text-secondary fa-2x"></i>
                    <h5 class="card-title mt-2">Total Book Languages</h5>
                    <p class="card-text font-weight-bold display-6">
                        @await Component.InvokeAsync("CountBookLanguage")
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
